global
    log stdout local0
    maxconn 10000

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 2m
    timeout server 2m

frontend ft_smtp_25
    bind *:25
    default_backend bk_postfix_25

backend bk_postfix_25
    server postfix25 127.0.0.1:2525 send-proxy check inter 30s

frontend ft_smtps_465
    bind *:465 ssl crt-list /gen-config/haproxy/mail-465.crtlist
    stick-table type ip size 1m expire 10m store conn_rate(10s),conn_cur
    tcp-request connection track-sc0 src
    tcp-request connection reject if { sc0_conn_rate gt 10 }
    tcp-request connection reject if { sc0_conn_cur gt 5 }
    default_backend bk_postfix_465

backend bk_postfix_465
    server postfix465 127.0.0.1:2465 send-proxy check inter 30s

frontend ft_submission_587
    bind *:587
    stick-table type ip size 1m expire 10m store conn_rate(10s),conn_cur
    tcp-request connection track-sc0 src
    tcp-request connection reject if { sc0_conn_rate gt 10 }
    tcp-request connection reject if { sc0_conn_cur gt 5 }
    default_backend bk_postfix_587

backend bk_postfix_587
    server postfix587 127.0.0.1:2587 send-proxy check inter 30s

frontend ft_imap_143
    bind *:143
    default_backend bk_dovecot_143

backend bk_dovecot_143
    server dovecot143 127.0.0.1:2143 send-proxy-v2 check inter 30s

frontend ft_imaps_993
    bind *:993 ssl crt-list /gen-config/haproxy/mail-993.crtlist
    default_backend bk_dovecot_993

backend bk_dovecot_993
    server dovecot993 127.0.0.1:2993 send-proxy-v2-ssl check inter 30s
